<html>
	<body>
		<form method="post" action="/addAction" enctype="multipart/form-data">
			<table>
				<tr>
					<td> Student Name : </td>
					<td><input type="text" name="sname" value=""/></td>
				</tr>
				<tr>
					<td> Upload Image : </td>
					<td> <input type="file" name="img" /></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" name="submit" value="Submit"/></td>
				</tr>
			</table>
		</form>
	</body>
</html>